# First steps on machine learning
Created 2025-01-08

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import numpy as np

#### Creating dataset
Only needed to be run once

In [8]:
# First creating the human readable dataset
dataAF = pd.read_csv(Path("../ressources//af_structures.csv"))
dataSolved = pd.read_csv(Path("../ressources//solved_structures.csv"))
predictionAF = pd.read_excel(Path("../ressources/ISS AF_DMI_structures/AF_prediction_randomized_DMI_results.xlsx"))

predictionAF["model_id"] = predictionAF["model_id"] + ".pdb"

_dataAF = pd.merge(
    left=dataAF, 
    right=predictionAF,
    how='left',
    left_on=['structure_name', 'file'],
    right_on=['prediction_name', 'model_id'],
)
_dataAF["num_mutation_in_motif"] = _dataAF["num_mutation_in_motif"].replace({np.nan: "Unkown"})
_dataAF["num_mutation_in_motif"] = _dataAF["num_mutation_in_motif"].replace({"known minimal": "Positive"})
_dataAF["num_mutation_in_motif"] = _dataAF["num_mutation_in_motif"].replace({"random minimal": "Negative"})
dataAF = _dataAF[[*dataAF.columns, "num_mutation_in_motif"]]
dataAF

,structure_name,file,hbonds,salt_bridges,buried_area,min_distance,hydrophobic_interactions,num_mutation_in_motif
0,DEG_APCC_KENBOX_2_4GGD,ranked_0.pdb,9,0,613.651,6.063,0,Positive
1,DEG_APCC_KENBOX_2_4GGD,ranked_1.pdb,9,0,580.310,6.083,0,Positive
2,DEG_APCC_KENBOX_2_4GGD,ranked_2.pdb,10,0,662.104,6.072,3,Positive
3,DEG_APCC_KENBOX_2_4GGD,ranked_3.pdb,2,0,398.498,5.417,0,Positive
4,DEG_APCC_KENBOX_2_4GGD,ranked_4.pdb,2,0,323.304,5.092,9,Positive
...,...,...,...,...,...,...,...,...
1337,TRG_PTS1_2C0L,ranked_0.pdb,12,3,883.012,4.542,29,Positive
1338,TRG_PTS1_2C0L,ranked_1.pdb,11,3,889.343,4.559,29,Positive
1339,TRG_PTS1_2C0L,ranked_2.pdb,12,3,890.493,4.574,30,Positive
1340,TRG_PTS1_2C0L,ranked_3.pdb,11,3,894.777,4.529,30,Positive
1341,TRG_PTS1_2C0L,ranked_4.pdb,12,3,888.589,4.568,27,Positive

In [9]:
#dataAF.to_csv(Path("../ressources/machine learning/iss_rawdata.csv"), index=False)

#### Loading dataset and transforming it

In [15]:
# Imports
import sklearn as sk

In [13]:
dataAF = pd.read_csv(Path("../ressources/machine learning/iss_rawdata.csv"))
dataAF.drop(columns=["structure_name", "file"], inplace=True)
dataAF

,hbonds,salt_bridges,buried_area,min_distance,hydrophobic_interactions,num_mutation_in_motif
0,9,0,613.651,6.063,0,Positive
1,9,0,580.310,6.083,0,Positive
2,10,0,662.104,6.072,3,Positive
3,2,0,398.498,5.417,0,Positive
4,2,0,323.304,5.092,9,Positive
...,...,...,...,...,...,...
1337,12,3,883.012,4.542,29,Positive
1338,11,3,889.343,4.559,29,Positive
1339,12,3,890.493,4.574,30,Positive
1340,11,3,894.777,4.529,30,Positive
1341,12,3,888.589,4.568,27,Positive

X_train